:root {
    --text: #f6fcfd;
    --background: #05151a;
    --background-light: #071d23;
    --primary: #eaa895;
    --primary-dark: #d9633f;
    --secondary: #0c3441;
    --secondary-light: #145469;
    --accent: #d9633f;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
